/* Inputs */
.part-option-container {
    display: flex;
    justify-content: center;
}

.part-option-container div { 
    padding: 0 1rem;
}

/* Image Heights */
#side-color {
    height: 40vh;
    width: 40vw;
}

#top-color {
    height: 40vh;
    width: 40vw;
}

/* Image layout */
.part-img-container {
    display: grid;
    margin-top: 2rem;
    width: 100%;
}

.side-color-container {
    margin: 0 auto;
}

.top-color-container {
    position: absolute;
    /* margin-top: 5vh; */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}